*{
    margin: 0;
    padding: 0;
}
nav{
    height: 50px;
    width: 100%;
    background-color:tomato;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul{
    list-style: none;
}

nav ul li{
    font-size: 30px;
    color: white;
}
#addBtn{
    background-color: black;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 18px;
    font-size:25px;
    border: none;
}

#addBtn:hover{
    background-color: grey;
    color: black;
}

h1{
    margin-top: 1em;
    margin-left: 2em;
}

.note{
    margin-top: 1em;
    margin-left: 2em;
    font-size:30px
}
.form-group textarea{
    width: 40%;
    height: 100px;
    font-size: 25px;
}

.your-works{
    font-size: 30px;
    border: 1px solid teal;
    height: 70px;
    width: 70%;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:40px;
    background-color: black;
    color: white
}

#notes{
    display: block;
    width: 70%;
    font-size:20px;
    margin: 1em auto;
    flex-direction: row;
    margin-top: 1em;
    /* border: 1px solid black; */
    
}

.deleteNote{
    background-color: black;
    color: white;
    height:25px;
    width: 80px;
    border: none;
}

.card-body{
    margin-left: 1em;
    margin-top: 15px;
}